.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;

  min-width: 1200px;

  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  padding: 14px 0;
  width: 135px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  border-radius: 3px;
}

.button:focus,
.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.header {
  width: 100%;
  margin-bottom: 59px;

  background-color: #f4f7f9;
}

.header--catalog {
  margin-bottom: 24px;
}

.container {
  width: 100%;
  margin-bottom: 46px;

  background-color: #293449;
}

.menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.menu__logo {
  padding: 14px 0;
  width: 220px;

  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.menu__logo--index {
  position: absolute;
}

.menu__logo:focus,
.menu__logo:hover {
  background-color: #ca2c37;
}

.menu__logo:active {
  background-color: #ba2732;
}

.menu__item {
  padding: 14px 20px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.menu__item:focus,
.menu__item:hover {
  background-color: #212a3a;
}

.menu__item:active {
  background-color: #161d29;
}

.order {
  background-color: #63a63e;
}

.order:focus,
.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.menu__item--basket {
  background-color: #ee3643;
}

.menu__search {
  margin-left: 240px;
  width: 271px;

  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: #293449;

  border: none;
}

.menu__search::placeholder {
  color: #ffffff;
}

.menu__search:hover {
  background-color: #212a3a;
}

.menu__search:focus {
  background-color: #ffffff;
}

.menu__search:active {
  background-color: #293449;
}

.user {
  display: flex;
  flex-wrap: wrap;
}

.user--catalog {
  width: 300px;
}

.user__user {
  display: block;
  width: 300px;
  padding: 15px 0;
  padding-left: 48px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user__user:active {
  color: #cacaca;
}

.user__link {
  position: relative;
  margin-left: 18px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  text-decoration: underline;
}

.user__link--point::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  right: -12px;
  top: 8px;

  background-color: #32425c;
  border-radius: 50%;
}

.user__link:focus,
.user__link:hover {
  color: #ee3643;
}

.user__link:active {
  color: #cacaca;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 47px;
}

.main__title {
  display: block;
  width: 196px;
  margin: 0;
  padding-left: 50px;

  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
}

.main__tell {
  display: block;
  width: 264px;
  margin: 0;
  margin-bottom: 5px;
  padding: 8px 0;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;

  border: 3px solid #ffffff;
}

.main__address {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user__button {
  width: 120px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-top: 14px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.user__button:focus,
.user__button:hover {
  color: #ee3643;
}


.user__button:active {
  color: #cacaca;
}

.navigation {
  margin: 0 auto;
  width: 940px;

  background-color: #32425c;
}

.site-list {
  display: flex;
  justify-content: space-around;
  margin: 0;

  list-style: none;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.site-list__link {
  display: block;
  padding: 22px 30px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-list__link:hover,
.site-list__link:focus {
  background-color: #293449;
}

.site-list__link:active {
  color: #a8abaf;

  background-color: #1d2739;
}

.offers {
  margin: 0 auto;
  margin-bottom: 53px;
  width: 940px;
}

.offers__list {
  display: flex;
}

.offers__wrapper-firs {
  display: flex;
}

.offer__wrapper-second {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.offers__item {
  width: 300px;
  margin-bottom: 20px;
  padding: 16px 0;
}

.offers__item-img {
  display: block;

  background-color: #685c53;
}

.offers__title {
  margin: 0;
  margin-left: 25px;
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.offers__item-button {
  margin-left: 25px;

  background-color: rgba(0,0,0, 0.1);
}

.offers__item-button:focus,
.offers__item-button:hover {
  background-color: #cccccc;
}

.offers__item-button:active {
  background-color: #b2b2b2;
}

.materials {
  background-color: #ffbf47;
  background-image: url(../img/icon-materials.svg);
  background-repeat: no-repeat;
  background-position: 200px 30px;
}

.instruments {
  margin-left: 20px;

  background-color: #3bbce3;
  background-image: url(../img/icon-instruments.svg);
  background-repeat: no-repeat;
  background-position: 200px 30px;
}

.slides {
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
}

.drills__wrapper,
.perforators__wrapper {
  position: absolute;
  margin-top: 20px;
  margin-left: 27px;
}

.perforators {
  display: none;
}

.slider {
  position: relative;
  position: relative;
}

.left {
  position: absolute;
  width: 21px;
  height: 40px;
  top: 114px;
  left: 25px;

  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.right {
  position: absolute;
  width: 21px;
  height: 42px;
  top: 114px;
  right: 25px;

  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.slider__title {
  margin: 0;
  margin-left: 0;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider__description {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider__button {
  position: absolute;
  bottom: 20px;
  left: 22px;
  width: 195px;

  font-size: 14px;
  line-height: 18px;
}

.equipment {
  background-color: #dc91d8;
  background-image: url(../img/icon-equipment.svg);
  background-repeat: no-repeat;
  background-position: 200px 30px;
}

.discounts {
  background-color: #8ed78f;
  background-image: url(../img/icon-discounts.svg);
  background-repeat: no-repeat;
  background-position: 200px 30px;
}

.delivery {
  background-color: #ffc047;
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: 200px 30px;
}

.popular-title {
  margin: 32px 30px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.products {
  margin-bottom: 21px;
}

.products__button,
.manufacturers__button {
  margin: 25px 30px;
  width: 253px;
}

.products__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 940px;

  background-color: #f9f5f0;
}

.products__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 940px;

  list-style: none;
}

.products__item {
  width: 219px;

  font-family: "PT Sans";
  text-align: center;
  font-weight: bold;

  border: 1px solid #eaeaea;
}

.products__cart {
  display: flex;
  flex-direction: column;
}

.products__img {
  order: -1;
}

.products__item:focus,
.products__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.products__item-title {
  margin: 0;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.products__price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.products__discounts {
  display: block;
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 13px 0;
  width: 140px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.manufacturers {
  margin-bottom: 60px;
}

.manufacturers__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 940px;

  background-color: #f9f5f0;
}

.manufacturers__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 940px;

  list-style: none;
}

.manufacturers__item {
  width: 220px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;

  text-align: center;
}

.manufacturers__item:focus,
.manufacturers__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers__item:active {
  opacity: 0.3;
}

.manufacturers__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.manufacturers__cart img {
  margin: auto;
}

.services {
  margin-bottom: 80px;

  background-color: #f4f8f9;
}

.services__columns {
  width: 940px;
  margin: 0 auto;
  padding-top: 60px;
}

.services__title {
  margin: 0;
  margin-bottom: 40px;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.slider-service__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;
}

.services__description,
.slider-service__description {
  display: block;
  width: 400px;
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services__description {
  margin-bottom: 75px;
}

.slider-service__slides {
  padding-top: 48px;
}

.slider-service__kinds {
  width: 640px;
  padding-bottom: 132px;

  background-repeat: no-repeat;
  background-position: 110px 35px;
}

.delivery-service {
  background-image: url("../img/delivery.png");
}

.warranty-service {
  display: none;

  background-image: url("../img/warranty.png");
}

.credit-service {
  display: none;

  background-image: url("../img/credit.png");
}

.slider-service__description {
  margin: 0;
}

.slider-service__description--delivery {
  width: 274px;
}

.slider-service__description--warranty {
  width: 380px;
}

.slider-service__description--credit {
  width: 283px;
}

.slider-service__button-credit {
  width: 195px;
}

.slider-service__button:focus,
.slider-service__button:hover {
  background-color: #293449;
}

.slider-service__button:active {
  color: #32425c;

  background-color: #ffffff;
}

.slider-service__control {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.slider-service__button {
  width: 240px;
  padding: 24px 0;
  padding-left: 22px;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  text-align: left;

  background-color: #32425c;
  border: none;
}

.slider-service__wrapper {
  display: flex;
}

.page-main__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 85px;
  width: 940px;
}

.aboutUs__title {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.aboutUs__description {
  width: 530px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;

  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.aboutUs__description--second {
  width: 385px;
}

.aboutUs__list {
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.aboutUs__item {
  position: relative;

  font-size: 18px;
  line-height: 20px;
}

.aboutUs__item:before {
  content: "";

  position: absolute;
  top: 10px;
  left: -40px;
  width: 25px;
  height: 2px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;

  background-color: #ee3643;
}

.aboutUs__button {
  width: 220px;
}

.contacts__title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts__description {
  width: 177px;
  margin: 40px 0;

  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.contacnts__map {
  margin-bottom: 40px;
}

.contacts__button {
  width: 300px;
}

.container-footer {
  padding-bottom: 56px;
  background-color: #32425c;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.footer-top__contacts {
  margin: 0;
  margin-top: 35px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  width: 615px;
  padding: 0;
  margin: 0;
  margin-top: 42px;

  list-style: none;
}

.nav__item {
  margin-bottom: 40px;
}

.nav__link {
  margin-left: 60px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.nav__link:focus,
.nav__link:hover {
  text-decoration: underline;
}

.nav__link:active {
  text-decoration: none;

  opacity: 0.5;
}

.nav__link--yellow {
  color: #ffd180;
}

.container-foter-bottom {
  padding: 40px 0;
  background-color: #293449;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.rights__protection {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social__list {
  display: flex;
  justify-content: center;
  width: 140px;
  margin: 0;

  list-style: none;
}

.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  margin-left: 5px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social__button:focus,
.social__button:hover,
.social__button:active {
  background-color: #ee3643;
}

.copyright {
  display: flex;
}

.copyright__wrapper {
  margin-left: 56px;
}

.copyright__description {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.copyright__link {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.copyright__link:focus,
.copyright__link:hover {
  text-decoration: underline;
}

.copyright__link:active {
  color: #ee3643;
  text-decoration: none;
}

.catalog-columns {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.perforators-filter__nav {
  display: flex;
  margin-bottom: 24px;

  list-style: none;
}

.perforators-filter__nav-link {
  margin-right: 40px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.perforators-filter__title {
  margin: 0 auto;
  width: auto;
  margin-bottom: 20px;
  padding: 32px 0;
  padding-left: 28px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filters {
  width: 220px;
  margin-right: 20px;
}

.filters__title {
  width: auto;
  margin: 0;
  margin-bottom: 20px;
  padding: 15px 20px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec;
}

.main-catalog__wrapper {
  display: flex;
  font-family: "PT Sans";
  text-transform: uppercase;
}

.filters__name {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.filters__field {
  margin-bottom: 25px;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters__field--nutrition {
  margin-bottom: 74px;
  border: none;
}

.filters__list {
  list-style: none;
}

.checkbox,
.radio {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.filters__button {
  width: 140px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;
}

.filters__button:focus,
.filters__button:hover {
  border-color: #bdc6ca;
  background-color: #ffffff;
}

.filters__button:active {
  border-color: #ee3643;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-bottom: 20px;
  padding: 14px 18px;

  background-color: #f7f3ec;
}

.sorting__title {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.sorting__type {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting__link {
  margin-left: 70px;

  font-size: 13px;
  line-height: 18px;
  color: #dadada;

  border-bottom: 1px dotted #ee3643;
}

.sorting__link--arrow {
  margin-left: 45px;
}

.sorting__link:focus,
.sorting__link:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.sorting__link:active {
  color: #ee3643;

  border: none;
}

.catalog {
  width: 700px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;
}

.catalog__item {
  position: relative;
  width: 220px;
  margin-right: 17px;
  margin-bottom: 20px;

  text-align: center;

  list-style: none;
  border: 1px solid #e5e5e5;
}

.catalog__link {
  display: flex;
  flex-direction: column;
}

.catalog__item:hover .catalog__pointed {
  display: block;
}

.catalog__item:hover .catalog__img {
  visibility: hidden;
}

.catalog__item:focus,
.catalog__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog__item:nth-child(3n) {
  margin-right: 0;
}

.catalog__item:nth-child(7),
.catalog__item:nth-child(8),
.catalog__item:nth-child(9) {
  margin-bottom: 0;
}

.catalog__pointed {
  display: none;
  position: absolute;
  width: auto;
  top: 45px;
  left: 42px;
}

.catalog-button {
  margin: 0 auto;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a63e;
}

.catalog-button:focus,
.catalog-button:hover {
  background-color: #5fbb2d;
}

.catalog-button:active {
  background-color: #518534;
}

.catalog__img {
  order: -1;
}

.catalog-bookmark {
  width: 130px;
  margin: 0 auto;
  margin-top: 7px;

  font-size: 14px;
  line-height: 18px;
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.catalog-bookmark:focus,
.catalog-bookmark:hover {
  border-color: #32425c;

  background-color: #ffffff;
}

.catalog-bookmark:active {
  color: #d0d2d6;

  border-color: #c1c6ce;
}

.catalog__pagination {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog__page {
  display: block;
  padding: 14px 0;
  width: 40px;
  margin-right: 10px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;

  border: 1px solid #e5e5e5;
}

.catalog__page:focus,
.catalog__page:hover {
  border-color: #bdc6ca;
}

.catalog__page:active {
  border-color: #ee3643;
}

.catalog__page--next {
  width: 138px;
}

.catalog__page--active {
  color: #ffffff;
  background-color: #ee3643;
}

.about-perforators-columns {
  width: 940px;
  margin: 0 auto;
}

.about-perforators {
  padding-top: 70px;
  padding-bottom: 75px;
  background-color: #f2f6f8;
}

.about-perforators__title {
  margin: 0;
  margin-bottom: 41px;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-perforators__description {
  margin: 0;

  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}
